/* common shared styles */
body{
font-family: 'Bungee Spice', sans-serif;
font-family: 'Rubik Doodle Shadow', system-ui;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primary{
    color: skyblue;
}
.text-primary1{
    color: blueviolet;
}
/* nav title style */
.nav-title{
    color: lightcoral;
    font-size: 54px;
    font-weight: 800px;
}
nav >ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
nav a{
    text-decoration: none;
    color: chartreuse;

}