/* common shared styles */
body{
font-family: 'Bungee Spice', sans-serif;
font-family: 'Rubik Doodle Shadow', system-ui;
/* margin: 0;
padding: 0; */
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: skyblue;
}
.text-primary1{
    color: blueviolet;
}
/* nav title style */
.nav-title{
    color: lightcoral;
    font-size: 54px;
    font-weight: 800px;
}
nav >ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
nav a{
    text-decoration: none;
    color: brown;
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .Profile-photo{
    width: 500px;
}
